USE [master]
GO
/****** Object:  Database [DB_MODBUS]    Script Date: 13.08.2026 02:11:49 ******/
CREATE DATABASE [DB_MODBUS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_Modbus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Db_Modbus.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_Modbus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Db_Modbus_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_MODBUS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_MODBUS]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 13.08.2026 02:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_adi] [nvarchar](50) NOT NULL,
	[sifre] [nvarchar](50) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](13) NOT NULL,
	[mail] [nvarchar](100) NOT NULL,
	[rol_id] [int] NOT NULL,
	[aktif_mi] [bit] NOT NULL,
	[eklenme_tarih] [datetime] NOT NULL,
	[profil_resim] [nvarchar](200) NULL,
	[ekleyen_id] [int] NULL,
	[ekleyen_ip] [nvarchar](20) NULL,
	[guncelleyen_id] [int] NULL,
	[guncelleyen_ip] [nvarchar](20) NULL,
	[guncellenme_tarih] [datetime] NULL,
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 13.08.2026 02:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roller](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rol_adi] [nchar](50) NOT NULL,
	[aciklama] [nchar](250) NULL,
	[aktif_mi] [bit] NOT NULL,
	[eklenme_tarih] [datetime] NOT NULL,
	[ekleyen_id] [int] NULL,
	[ekleyen_ip] [nvarchar](20) NULL,
	[guncelleyen_id] [int] NULL,
	[guncelleyen_ip] [nvarchar](20) NULL,
	[guncellenme_tarih] [datetime] NULL,
 CONSTRAINT [PK_Roller] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([id], [kullanici_adi], [sifre], [ad], [soyad], [telefon], [mail], [rol_id], [aktif_mi], [eklenme_tarih], [profil_resim], [ekleyen_id], [ekleyen_ip], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (1, N'20260001', N'1234', N'Ubeyd Sirac', N'Öztürk', N'5057490310', N'usozturk11@gmail.com', 1, 1, CAST(N'2026-08-12T18:09:07.970' AS DateTime), N'57c998b8-ac7b-4888-8c11-4e8c64bef358.jpg', 1, N'1', 1, N'::1', CAST(N'2026-08-12T18:10:08.847' AS DateTime))
INSERT [dbo].[Kullanicilar] ([id], [kullanici_adi], [sifre], [ad], [soyad], [telefon], [mail], [rol_id], [aktif_mi], [eklenme_tarih], [profil_resim], [ekleyen_id], [ekleyen_ip], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (2, N'20260002', N'or461354LM*9', N'Mehmet Sıddık', N'Öztürk', N'5427150409', N'mehmet0409@gmail.com', 1, 1, CAST(N'2026-08-12T18:11:35.223' AS DateTime), N'', 1, N'::1', 1, N'::1', CAST(N'2026-08-13T02:01:41.107' AS DateTime))
INSERT [dbo].[Kullanicilar] ([id], [kullanici_adi], [sifre], [ad], [soyad], [telefon], [mail], [rol_id], [aktif_mi], [eklenme_tarih], [profil_resim], [ekleyen_id], [ekleyen_ip], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (5, N'20260005', N'Nv289911Re_', N'Aslı', N'Ak', N'5214563214', N'ak@gmail.com', 1, 0, CAST(N'2026-08-13T02:07:47.977' AS DateTime), N'9bc1668f-eedf-4e3d-81ee-5f34169b4b42.png', 1, N'::1', 1, N'::1', CAST(N'2026-08-13T02:08:13.260' AS DateTime))
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Roller] ON 

INSERT [dbo].[Roller] ([id], [rol_adi], [aciklama], [aktif_mi], [eklenme_tarih], [ekleyen_id], [ekleyen_ip], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (1, N'Admin                                             ', N'Yöneticidir                                                                                                                                                                                                                                               ', 1, CAST(N'2026-07-08T19:51:43.447' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Roller] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Kullanicilar_KullaniciAdi]    Script Date: 13.08.2026 02:11:49 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [UQ_Kullanicilar_KullaniciAdi] UNIQUE NONCLUSTERED 
(
	[kullanici_adi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Kullanicilar_Mail]    Script Date: 13.08.2026 02:11:49 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [UQ_Kullanicilar_Mail] UNIQUE NONCLUSTERED 
(
	[mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Kullanicilar_Telefon]    Script Date: 13.08.2026 02:11:49 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [UQ_Kullanicilar_Telefon] UNIQUE NONCLUSTERED 
(
	[telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [DF_Kullanicilar_AktiflikDurumu]  DEFAULT ((1)) FOR [aktif_mi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [DF_Kullanicilar_OlusturulmaTarihi]  DEFAULT (getdate()) FOR [eklenme_tarih]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [DF_Kullanicilar_guncellenme_tarih]  DEFAULT (getdate()) FOR [guncellenme_tarih]
GO
ALTER TABLE [dbo].[Roller] ADD  CONSTRAINT [DF_Roller_AktiflikDurumu]  DEFAULT ((1)) FOR [aktif_mi]
GO
ALTER TABLE [dbo].[Roller] ADD  CONSTRAINT [DF_Roller_OlusturulmaTarihi]  DEFAULT (getdate()) FOR [eklenme_tarih]
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD  CONSTRAINT [FK_Kullanicilar_Roller] FOREIGN KEY([rol_id])
REFERENCES [dbo].[Roller] ([id])
GO
ALTER TABLE [dbo].[Kullanicilar] CHECK CONSTRAINT [FK_Kullanicilar_Roller]
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_EKLE]    Script Date: 13.08.2026 02:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Kullanicilar_EKLE]

    @id INT = NULL,
    @kullanici_adi NVARCHAR(50),
    @sifre NVARCHAR(50),
    @ad NVARCHAR(50),
    @soyad NVARCHAR(50),
    @telefon NVARCHAR(13),
    @mail NVARCHAR(100),
    @rol_id INT,
    @aktif_mi BIT,
    @eklenme_tarih DATETIME = NULL,
    @profil_resim NVARCHAR(200) = NULL,
    @ekleyen_id INT = NULL,
    @ekleyen_ip NVARCHAR(50) = NULL,
    @guncelleyen_id INT = NULL,
    @guncelleyen_ip NVARCHAR(50) = NULL,
    @guncellenme_tarih DATETIME = NULL

AS
BEGIN

    INSERT INTO Kullanicilar
    (
        kullanici_adi,
        sifre,
        ad,
        soyad,
        telefon,
        mail,
        rol_id,
        aktif_mi,
        eklenme_tarih,
        profil_resim,
        ekleyen_id,
        ekleyen_ip
    )
    VALUES
    (
        @kullanici_adi,
        @sifre,
        @ad,
        @soyad,
        @telefon,
        @mail,
        @rol_id,
        @aktif_mi,
        GETDATE(),
        @profil_resim,
        @ekleyen_id,
        @ekleyen_ip
    );

END

GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_GETIR]    Script Date: 13.08.2026 02:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Kullanicilar_GETIR]

    @id INT

AS
BEGIN

    SELECT
        id,
        kullanici_adi,
        sifre,
        ad,
        soyad,
        telefon,
        mail,
        rol_id,
        aktif_mi,
        eklenme_tarih,
        profil_resim,
        ekleyen_id,
        ekleyen_ip,
        guncelleyen_id,
        guncelleyen_ip,
        guncellenme_tarih
    FROM Kullanicilar
    WHERE id = @id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_GIRIS]    Script Date: 13.08.2026 02:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Giriş yapan kullanıcıyı kontrol eder */

CREATE PROCEDURE [dbo].[SP_Kullanicilar_GIRIS]

    @kullanici_adi NVARCHAR(50),
    @sifre NVARCHAR(50)

AS
BEGIN

    SELECT
        id,
        kullanici_adi,
        sifre,
        ad,
        soyad,
        telefon,
        mail,
        rol_id,
        aktif_mi,
        eklenme_tarih,
        profil_resim,
        ekleyen_id,
        ekleyen_ip,
        guncelleyen_id,
        guncelleyen_ip,
        guncellenme_tarih
    FROM Kullanicilar
    WHERE kullanici_adi = @kullanici_adi
      AND sifre = @sifre
      AND aktif_mi = 1;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_GUNCELLE]    Script Date: 13.08.2026 02:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Kullanicilar_GUNCELLE]

    @id INT,
    @kullanici_adi NVARCHAR(50),
    @sifre NVARCHAR(50) = NULL,
    @ad NVARCHAR(50),
    @soyad NVARCHAR(50),
    @telefon NVARCHAR(13),
    @mail NVARCHAR(100),
    @rol_id INT,
    @aktif_mi BIT,
    @eklenme_tarih DATETIME = NULL,
    @profil_resim NVARCHAR(200) = NULL,
    @ekleyen_id INT = NULL,
    @ekleyen_ip NVARCHAR(50) = NULL,
    @guncelleyen_id INT = NULL,
    @guncelleyen_ip NVARCHAR(50) = NULL,
    @guncellenme_tarih DATETIME = NULL

AS
BEGIN


    UPDATE Kullanicilar
    SET
        kullanici_adi = @kullanici_adi,
        sifre = ISNULL(@sifre, sifre),
        ad = @ad,
        soyad = @soyad,
        telefon = @telefon,
        mail = @mail,
        rol_id = @rol_id,
        aktif_mi = @aktif_mi,
        profil_resim = ISNULL(@profil_resim, profil_resim),
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()

    WHERE id = @id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_KAYITVARMI]    Script Date: 13.08.2026 02:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Kullanicilar_KAYITVARMI]

    @id INT = 0,
    @telefon NVARCHAR(13),
    @mail NVARCHAR(100)

AS
BEGIN

    SELECT COUNT(*)
    FROM Kullanicilar
    WHERE
    (
        telefon = @telefon
        OR mail = @mail
    )
    AND id <> @id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_KULLANICIADIGUNCELLE]    Script Date: 13.08.2026 02:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Kullanicilar_KULLANICIADIGUNCELLE]

    @id INT,
    @kullanici_adi NVARCHAR(50)

AS
BEGIN

    UPDATE Kullanicilar
    SET kullanici_adi = @kullanici_adi
    WHERE id = @id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_LISTELE]    Script Date: 13.08.2026 02:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Kullanicilar_LISTELE]

AS
BEGIN

    SELECT
        K.id,
        K.kullanici_adi,
        K.sifre,
        K.ad,
        K.soyad,
        K.telefon,
        K.mail,
        K.rol_id,
        R.rol_adi,
        K.aktif_mi,
        K.eklenme_tarih,
        K.profil_resim,
        K.ekleyen_id,
        K.ekleyen_ip,
        K.guncelleyen_id,
        K.guncelleyen_ip,
        K.guncellenme_tarih

    FROM Kullanicilar K
    INNER JOIN Roller R
        ON K.rol_id = R.id

    WHERE K.aktif_mi = 1

    ORDER BY K.id ASC;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_MAXIDGETIR]    Script Date: 13.08.2026 02:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Kullanicilar_MAXIDGETIR]
AS
BEGIN

SELECT ISNULL(MAX(id),0)
FROM Kullanicilar;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_SIFREGUNCELLE]    Script Date: 13.08.2026 02:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Kullanicilar_SIFREGUNCELLE]

    @kullanici_adi NVARCHAR(50),
    @mail NVARCHAR(100),
    @sifre NVARCHAR(50),
    @guncelleyen_id INT = NULL,
    @guncelleyen_ip NVARCHAR(50) = NULL

AS
BEGIN

    UPDATE Kullanicilar
    SET
        sifre = @sifre,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
    WHERE kullanici_adi = @kullanici_adi
      AND mail = @mail;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_SIFREKONTROL]    Script Date: 13.08.2026 02:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Kullanicilar_SIFREKONTROL]

    @id INT = NULL,
    @kullanici_adi NVARCHAR(50),
    @sifre NVARCHAR(50) = NULL,
    @ad NVARCHAR(50) = NULL,
    @soyad NVARCHAR(50) = NULL,
    @telefon NVARCHAR(13) = NULL,
    @mail NVARCHAR(100),
    @rol_id INT = NULL,
    @aktif_mi BIT = NULL,
    @eklenme_tarih DATETIME = NULL,
    @profil_resim NVARCHAR(200) = NULL,
    @ekleyen_id INT = NULL,
    @ekleyen_ip NVARCHAR(50) = NULL,
    @guncelleyen_id INT = NULL,
    @guncelleyen_ip NVARCHAR(50) = NULL,
    @guncellenme_tarih DATETIME = NULL

AS
BEGIN

    SELECT
        id,
        kullanici_adi,
        sifre,
        ad,
        soyad,
        telefon,
        mail,
        rol_id,
        aktif_mi,
        eklenme_tarih,
        profil_resim,
        ekleyen_id,
        ekleyen_ip,
        guncelleyen_id,
        guncelleyen_ip,
        guncellenme_tarih
    FROM Kullanicilar
    WHERE kullanici_adi = @kullanici_adi
      AND mail = @mail
      AND aktif_mi = 1;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_SIL]    Script Date: 13.08.2026 02:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Kullanicilar_SIL]

    @id INT

AS
BEGIN

    DELETE FROM Kullanicilar
    WHERE id = @id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Roller_LISTELE]    Script Date: 13.08.2026 02:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Roller_LISTELE]

AS
BEGIN

    SELECT
        id,
        rol_adi,
        aciklama,
        aktif_mi,
        eklenme_tarih,
        ekleyen_id,
        ekleyen_ip,
        guncelleyen_id,
        guncelleyen_ip,
        guncellenme_tarih

    FROM Roller

    WHERE aktif_mi = 1

    ORDER BY rol_adi;

END
GO
USE [master]
GO
