<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="TurnstileSiteKey" value="0x4AAAAAAEXjdun9as6hpWS6" />
		<add key="TurnstileSecretKey" value="0x4AAAAAAEXjdv0deAcrrLNXaBtX6y36jLk" />
		<add key="Hw584TimeoutSeconds" value="3" />
		<add key="RelayVerificationAttempts" value="4" />
		<add key="RelayVerificationWaitMilliseconds" value="150" />
	</appSettings>
	<connectionStrings>
		<add name="ModbusDb"
			 connectionString="Data Source=NEDEN10;Initial Catalog=DB_MODBUS;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8.1" />
		<httpRuntime targetFramework="4.8.1" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="tr-TR" uiCulture="tr-TR" />
		<sessionState timeout="20"></sessionState>
	</system.web>


	<system.codedom>
		<compilers>

		</compilers>
	</system.codedom>
</configuration>
