USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_RelayPulses_GUNCELLE]    Script Date: 19.09.2026 02:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[SP_RelayPulses_GUNCELLE]
    @Id bigint, @PulseAktif bit, @SonrakiDeneme datetime2(3), @GercekOnZamani datetime2(3)=NULL,
    @OffDogrulandi bit, @ReleaseDenemeSayisi int, @KritikHata bit, @SonHata nvarchar(max)=NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET ARITHABORT ON;
    SET ANSI_WARNINGS ON;
    SET ANSI_PADDING ON;
    SET CONCAT_NULL_YIELDS_NULL ON;
    SET NUMERIC_ROUNDABORT OFF;

    UPDATE dbo.RelayPulses SET PulseAktif=@PulseAktif,SonrakiDeneme=@SonrakiDeneme,GercekOnZamani=@GercekOnZamani,
        OffDogrulandi=@OffDogrulandi,ReleaseDenemeSayisi=@ReleaseDenemeSayisi,KritikHata=@KritikHata,SonHata=@SonHata
    WHERE Id=@Id;
    IF @@ROWCOUNT<>1 THROW 51000, N'Pulse kaydÄ± gÃ¼ncellenemedi.', 1;
END

