<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <connectionStrings>
    <!-- Web uygulamasıyla aynı veritabanı bağlantısı kullanılır. -->
    <add name="ModbusDb" connectionString="Data Source=NEDEN10;Initial Catalog=DB_MODBUS;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Hw584TimeoutSeconds" value="3" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="watchdogLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="ModbusRelayWatchdog.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>