USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_SIFRE_GUNCELLE]    Script Date: 20.08.2026 12:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Kullanicilar_SIFREGUNCELLE]

    @kullanici_adi NVARCHAR(50),
    @mail NVARCHAR(100),
    @sifre NVARCHAR(50),
    @guncelleyen_id INT = NULL,
    @guncelleyen_ip NVARCHAR(50) = NULL

AS
BEGIN

    UPDATE Kullanicilar
    SET
        sifre = @sifre,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
    WHERE kullanici_adi = @kullanici_adi
      AND mail = @mail;

END