USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_KULLANICI_ADI_GUNCELLE]    Script Date: 20.08.2026 12:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Kullanicilar_KULLANICI_ADI_GUNCELLE]

    @id INT,
    @kullanici_adi NVARCHAR(50)

AS
BEGIN

    UPDATE Kullanicilar
    SET kullanici_adi = @kullanici_adi
    WHERE id = @id;

	RETURN

END