USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_GUNCELLE]    Script Date: 12.08.2026 16:49:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_Kullanicilar_GUNCELLE]

    @id INT,
    @kullanici_adi NVARCHAR(50),
    @sifre NVARCHAR(50) = NULL,
    @ad NVARCHAR(50),
    @soyad NVARCHAR(50),
    @telefon NVARCHAR(13),
    @mail NVARCHAR(100),
    @rol_id INT,
    @aktif_mi BIT,
    @eklenme_tarih DATETIME = NULL,
    @profil_resim NVARCHAR(200) = NULL,
    @ekleyen_id INT = NULL,
    @ekleyen_ip NVARCHAR(50) = NULL,
    @guncelleyen_id INT = NULL,
    @guncelleyen_ip NVARCHAR(50) = NULL,
    @guncellenme_tarih DATETIME = NULL

AS
BEGIN


    UPDATE Kullanicilar
    SET
        kullanici_adi = @kullanici_adi,
        sifre = ISNULL(@sifre, sifre),
        ad = @ad,
        soyad = @soyad,
        telefon = @telefon,
        mail = @mail,
        rol_id = @rol_id,
        aktif_mi = @aktif_mi,
        profil_resim = ISNULL(@profil_resim, profil_resim),
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()

    WHERE id = @id;

	RETURN

END
