USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_MAX_ID_GETIR]    Script Date: 20.08.2026 12:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Kullanicilar_MAXIDGETIR]
AS
BEGIN

SELECT ISNULL(MAX(id),0)
FROM Kullanicilar;

END