USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_EthernetKartlari_GUNCELLE]    Script Date: 17.09.2026 17:42:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[SP_EthernetKartlari_GUNCELLE]
    @id INT,
    @kart_adi NVARCHAR(100),
    @model NVARCHAR(50),
    @ip VARCHAR(15),
    @http_port INT,
    @aktif_mi BIT,
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.EthernetKartlari
    SET
        kart_adi = @kart_adi,
        model = @model,
        ip = @ip,
        http_port = @http_port,
        aktif_mi = @aktif_mi,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
    WHERE id = @id;

    RETURN;
END
