USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_EthernetKartlari_EKLE]    Script Date: 17.09.2026 17:42:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[SP_EthernetKartlari_EKLE]
    @kart_adi NVARCHAR(100),
    @model NVARCHAR(50),
    @ip VARCHAR(15),
    @http_port INT,
    @aktif_mi BIT,
    @ekleyen_id INT,
    @ekleyen_ip NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.EthernetKartlari
    (
        kart_adi,
        model,
        ip,
        http_port,
        aktif_mi,
        eklenme_tarih,
        ekleyen_id,
        ekleyen_ip
    )
    VALUES
    (
        @kart_adi,
        @model,
        @ip,
        @http_port,
        @aktif_mi,
        GETDATE(),
        @ekleyen_id,
        @ekleyen_ip
    );

    RETURN;
END
