USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Makineler_DASHBOARD_GETIR]    Script Date: 14.09.2026 15:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[SP_Makineler_DASHBOARD_GETIR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        M.id,
        M.makine_adi,
        M.makine_no,
        M.ip,
        M.mfg,
        M.sira_no,
        M.relay_channel,
        CAST(CASE WHEN ML.id IS NULL THEN 0 ELSE 1 END AS BIT) AS duruyor_mu,
        ML.islem_nedeni,
        ML.islem_baslangic_tarih,
        CASE
            WHEN ML.id IS NULL THEN 0
            ELSE DATEDIFF(MINUTE, ML.islem_baslangic_tarih, GETDATE())
        END AS durus_dakika
    FROM dbo.Makineler M
    OUTER APPLY
    (
        SELECT TOP 1
            L.id,
            L.islem_nedeni,
            L.islem_baslangic_tarih
        FROM dbo.MakineLoglari L
        WHERE L.makine_id = M.id
          AND L.islem_tipi = N'DURDUR'
          AND L.devam_ediyor_mu = 1
          AND L.basarili_mi = 1
          AND L.aktif_mi = 1
        ORDER BY L.islem_baslangic_tarih DESC
    ) ML
    WHERE M.aktif_mi = 1
    ORDER BY M.sira_no;

    RETURN;
END
