USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_KAYITVARMI]    Script Date: 12.08.2026 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[SP_Kullanicilar_KAYITVARMI]

    @id INT = 0,
    @telefon NVARCHAR(13),
    @mail NVARCHAR(100)

AS
BEGIN

    SELECT COUNT(*)
    FROM Kullanicilar
    WHERE
    (
        telefon = @telefon
        OR mail = @mail
    )
    AND id <> @id;

END
