USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_GIRIS]    Script Date: 6.08.2026 17:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Giriş yapan kullanıcıyı kontrol eder */

ALTER PROCEDURE [dbo].[SP_Kullanicilar_GIRIS]

    @kullanici_adi NVARCHAR(50),
    @sifre NVARCHAR(50)

AS
BEGIN

    SELECT
        id,
        kullanici_adi,
        sifre,
        ad,
        soyad,
        telefon,
        mail,
        rol_id,
        aktif_mi,
        eklenme_tarih,
        profil_resim,
        ekleyen_id,
        ekleyen_ip,
        guncelleyen_id,
        guncelleyen_ip,
        guncellenme_tarih
    FROM Kullanicilar
    WHERE kullanici_adi = @kullanici_adi
      AND sifre = @sifre
      AND aktif_mi = 1;

END
