USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_SIFREGUNCELLE]    Script Date: 28.07.2026 21:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[SP_Kullanicilar_SIFREGUNCELLE]

@KullaniciAdi NVARCHAR(50),
@Mail NVARCHAR(100),
@Sifre NVARCHAR(50)

AS
BEGIN

    UPDATE Kullanicilar SET sifre = @Sifre WHERE kullanici_adi = @KullaniciAdi AND mail = @Mail AND aktiflik_durumu = 1;

END;
