USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_DOLDUR]    Script Date: 20.08.2026 12:21:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_Kullanicilar_DOLDUR]

    @id INT

AS
BEGIN

    SELECT
        id,
        kullanici_adi,
        sifre,
        ad,
        soyad,
        telefon,
        mail,
        rol_id,
        aktif_mi,
        eklenme_tarih,
        profil_resim,
        ekleyen_id,
        ekleyen_ip,
        guncelleyen_id,
        guncelleyen_ip,
        guncellenme_tarih
    FROM Kullanicilar
    WHERE id = @id;

END
