USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_EKLE]    Script Date: 13.08.2026 01:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[SP_Kullanicilar_EKLE]

    @id INT = NULL,
    @kullanici_adi NVARCHAR(50),
    @sifre NVARCHAR(50),
    @ad NVARCHAR(50),
    @soyad NVARCHAR(50),
    @telefon NVARCHAR(13),
    @mail NVARCHAR(100),
    @rol_id INT,
    @aktif_mi BIT,
    @eklenme_tarih DATETIME = NULL,
    @profil_resim NVARCHAR(200) = NULL,
    @ekleyen_id INT = NULL,
    @ekleyen_ip NVARCHAR(50) = NULL,
    @guncelleyen_id INT = NULL,
    @guncelleyen_ip NVARCHAR(50) = NULL,
    @guncellenme_tarih DATETIME = NULL

AS
BEGIN

    INSERT INTO Kullanicilar
    (
        kullanici_adi,
        sifre,
        ad,
        soyad,
        telefon,
        mail,
        rol_id,
        aktif_mi,
        eklenme_tarih,
        profil_resim,
        ekleyen_id,
        ekleyen_ip
    )
    VALUES
    (
        @kullanici_adi,
        @sifre,
        @ad,
        @soyad,
        @telefon,
        @mail,
        @rol_id,
        @aktif_mi,
        GETDATE(),
        @profil_resim,
        @ekleyen_id,
        @ekleyen_ip
    );

END
