USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_SIFRE_KONTROL]    Script Date: 20.08.2026 12:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_Kullanicilar_SIFREKONTROL]

    @id INT = NULL,
    @kullanici_adi NVARCHAR(50),
    @sifre NVARCHAR(50) = NULL,
    @ad NVARCHAR(50) = NULL,
    @soyad NVARCHAR(50) = NULL,
    @telefon NVARCHAR(13) = NULL,
    @mail NVARCHAR(100),
    @rol_id INT = NULL,
    @aktif_mi BIT = NULL,
    @eklenme_tarih DATETIME = NULL,
    @profil_resim NVARCHAR(200) = NULL,
    @ekleyen_id INT = NULL,
    @ekleyen_ip NVARCHAR(50) = NULL,
    @guncelleyen_id INT = NULL,
    @guncelleyen_ip NVARCHAR(50) = NULL,
    @guncellenme_tarih DATETIME = NULL

AS
BEGIN

    SELECT
        id,
        kullanici_adi,
        sifre,
        ad,
        soyad,
        telefon,
        mail,
        rol_id,
        aktif_mi,
        eklenme_tarih,
        profil_resim,
        ekleyen_id,
        ekleyen_ip,
        guncelleyen_id,
        guncelleyen_ip,
        guncellenme_tarih
    FROM Kullanicilar
    WHERE kullanici_adi = @kullanici_adi
      AND mail = @mail
      AND aktif_mi = 1;

END
