USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_LISTELE]    Script Date: 12.08.2026 18:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_Kullanicilar_LISTELE]

AS
BEGIN

    SELECT
        K.id,
        K.kullanici_adi,
        K.sifre,
        K.ad,
        K.soyad,
        K.telefon,
        K.mail,
        K.rol_id,
        R.rol_adi,
        K.aktif_mi,
        K.eklenme_tarih,
        K.profil_resim,
        K.ekleyen_id,
        K.ekleyen_ip,
        K.guncelleyen_id,
        K.guncelleyen_ip,
        K.guncellenme_tarih

    FROM Kullanicilar K
    INNER JOIN Roller R
        ON K.rol_id = R.id

    WHERE K.aktif_mi = 1

    ORDER BY K.id ASC;

END
