USE [DB_MODBUS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_Roller_LISTELE]

AS
BEGIN

    SELECT
        id,
        rol_adi,
        aciklama,
        aktif_mi,
        eklenme_tarih,
        ekleyen_id,
        ekleyen_ip,
        guncelleyen_id,
        guncelleyen_ip,
        guncellenme_tarih

    FROM Roller

    WHERE aktif_mi = 1

    ORDER BY rol_adi;

END
GO