USE [DB_MODBUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Roller_TUMUNU_GETIR]    Script Date: 20.08.2026 12:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_Roller_TUMUNU_GETIR]

AS
BEGIN

    SELECT
        id,
		rol_kodu,
        adi,
        aciklama,
        aktif_mi,
        eklenme_tarih,
        ekleyen_id,
        ekleyen_ip,
        guncelleyen_id,
        guncelleyen_ip,
        guncellenme_tarih

    FROM Roller

    WHERE aktif_mi = 1

    ORDER BY adi;

END
