.text-modbus {
    color: darkblue;
}

.form-control-modbus,
.form-select-modbus {
    background-color: cadetblue;
    color: white;
    border-color: cadetblue;
    font-size: 20px;
}

    .form-control-modbus:focus,
    .form-select-modbus:focus {
        background-color: cadetblue;
        color: white;
        border-color: darkblue;
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 139, 0.15);
    }

    .form-control-modbus::placeholder {
        color: rgba(255, 255, 255, 0.75);
    }

.btn-modbus-kaydet {
    background-color: forestgreen;
    color: white;
    border-color: forestgreen;
}

    .btn-modbus-kaydet:hover {
        background-color: limegreen;
        color: white;
        border-color: limegreen;
    }

.profil-resim-kutusu {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid cadetblue;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: cadetblue;
    display: inline-block;
}

.profil-resim-onizleme {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
