<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>MODBUS : Ana Sayfa</title>
    <link href="../Styles/Default.css?v=5" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 2000;">
            <div id="toastMesaj" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong id="toastBaslik" class="me-auto">Bildirim</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Kapat"></button>
                </div>

                <div class="toast-body">
                    <asp:Label ID="lbl_success" runat="server"></asp:Label>
                    <asp:Label ID="lbl_error" runat="server"></asp:Label>
                    <asp:Label ID="lbl_info" runat="server"></asp:Label>
                    <asp:Label ID="lbl_warning" runat="server"></asp:Label>
                </div>
            </div>
        </div>
        <div class="panel-konteyner">

            <div class="sol-panel">

                <div class="logo-alani">
                    <asp:Image ID="Image1" runat="server" ImageUrl="~/Files/Images/LoginSayfasi_1.png" CssClass="anasayfa-img" />
                    <span class="logo-metin">MODBUS</span>
                </div>

                <div class="menu-konteyner">

                    <div class="menu-grup">
                        <a href="Default.aspx" class="anasayfa-link">
                            <span class="menu-ikon"><i class="fa-solid fa-house"></i></span>
                            <span class="menu-metin">Anasayfa</span>
                        </a>
                    </div>

                    <div class="menu-grup">
                        <div class="grup-baslik">
                            <span class="menu-ikon"><i class="fa-solid fa-gears"></i></span>
                            <span class="menu-metin font-bold">Makine İşlemleri</span>
                        </div>
                        <ul class="alt-menu">
                            <li><a href="MakineEkle.aspx">➖ Makine Ekle</a></li>
                            <li><a href="MakineListele.aspx">➖ Makine Listele</a></li>
                        </ul>
                    </div>

                    <div class="menu-grup">
                        <div class="grup-baslik">
                            <span class="menu-ikon"><i class="fa-solid fa-user"></i></span>
                            <span class="menu-metin font-bold">Kullanıcı İşlemleri</span>
                        </div>
                        <ul class="alt-menu">
                            <li><a href="/Pages/KullaniciEkle.aspx">➖ Kullanıcı Ekle</a></li>
                            <li><a href="/Pages/KullaniciListele.aspx">➖ Kullanıcı Listele</a></li>
                        </ul>
                    </div>

                    <div class="menu-grup">
                        <div class="grup-baslik">
                            <span class="menu-ikon"><i class="fa-solid fa-chart-simple"></i></span>
                            <span class="menu-metin font-bold">Raporlar</span>
                        </div>
                        <ul class="alt-menu">
                            <li><a href="LogListesi.aspx">➖ Log Listesi</a></li>
                        </ul>
                    </div>

                </div>

                <div class="profil-alani">
                    <div class="profil-bilgi">

                        <div class="sol-menu-pp-kutusu">
                            <asp:Image ID="imgSolMenuProfil" runat="server" ImageUrl="../Files/no-image.png" CssClass="sol-menu-pp-resim" />
                        </div>

                        <asp:Label ID="lblGirisYapanKullanici" runat="server" Text="Misafir" CssClass="menu-metin profil-isim"></asp:Label>
                    </div>
                    <asp:Button ID="btnCikis" runat="server" Text="Çıkış Yap" CssClass="btn-cikis" OnClick="btnCikis_Click" />
                </div>

            </div>

            <div class="icerik-alani">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>

        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var success = document.getElementById("<%= lbl_success.ClientID %>");
            var error = document.getElementById("<%= lbl_error.ClientID %>");
            var info = document.getElementById("<%= lbl_info.ClientID %>");
            var warning = document.getElementById("<%= lbl_warning.ClientID %>");

            var toastElement = document.getElementById("toastMesaj");
            var toastBaslik = document.getElementById("toastBaslik");

            if (success && success.innerText.trim() !== "") {
                toastBaslik.innerText = "Başarılı";
                toastElement.classList.add("text-bg-success");
                var toast = new bootstrap.Toast(toastElement, {
                    autohide: true,
                    delay: 10000
                });

                toast.show();
            }
            else if (error && error.innerText.trim() !== "") {
                toastBaslik.innerText = "Hata";
                toastElement.classList.add("text-bg-danger");
                var toast = new bootstrap.Toast(toastElement, {
                    autohide: true,
                    delay: 10000
                });

                toast.show();
            }
            else if (info && info.innerText.trim() !== "") {
                toastBaslik.innerText = "Bilgi";
                toastElement.classList.add("text-bg-info");
                var toast = new bootstrap.Toast(toastElement, {
                    autohide: true,
                    delay: 10000
                });

                toast.show();
            }
            else if (warning && warning.innerText.trim() !== "") {
                toastBaslik.innerText = "Uyarı";
                toastElement.classList.add("text-bg-warning");
                var toast = new bootstrap.Toast(toastElement, {
                    autohide: true,
                    delay: 10000
                });

                toast.show();
            }
        });
    </script>
</body>
</html>
